* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}
.main .child {
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.main .child .score {
  height: 100px;
  background-color: green;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
.hit h2{
    color: white;
}
/*div takes the whole width it able to take*/
.main .child .score .hit {
  display: flex;
  gap: 10px;
}
.main .child .score .hit div {
    font-weight: 700;
  color: rgba(10, 112, 35, 0.952);
  padding: 10px;
  background-color: white;
  width: 40px;
  height: 30px;
  border-radius: 3px;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child .circlecontainer {
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.child .circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: green;
  height: 70px;
  width: 70px;
  cursor: pointer;
}
